# frozen_string_literal: true

ENV["RAILS_ENV"] = "test"

require_relative "support/simplecov"
require_relative "../config/environment"
require "rails/test_help"
require "minitest/rails"

# To add Capybara feature tests add `gem "minitest-rails-capybara"`
# to the test group in the Gemfile and uncomment the following:
# require "minitest/rails/capybara"

# Uncomment for awesome colorful output
# require "minitest/pride"

class ActiveSupport::TestCase
  <% if @panacea.dig("factory_bot") -%>
  include FactoryBot::Syntax::Methods
  <% end -%>

  fixtures :all
end

<% if @panacea.dig("devise") -%>
class ActionDispatch::IntegrationTest
  include Devise::Test::IntegrationHelpers
end
<% end -%>
