.jumbotron
  %h1= app_name
  %p Elit dignissimos corporis est optio quibusdam sapiente Placeat sunt voluptate ex eum neque, vel
    A cupiditate ad dolor magnam neque! Optio quis iure quia suscipit fuga, doloremque dolorem quia non


